.desktop-menu {
    display: none;
  }
  
  .mobile-menu {
    display: block;
  }
  
  @media (min-width: 600px) {
    .desktop-menu {
      display: flex;
      gap: 10px;
    }
    .mobile-menu {
      display: none;
    }
  }
  