.TechStack {
    padding: 20px 0;
  }
  
  .TechStack h2 {
    margin-bottom: 10px;
  }
  
  .TechStack ul {
    list-style: none;
    padding: 0;
  }
  
  .TechStack ul li {
    margin-bottom: 5px;
  }
  